@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Freight;
  font-weight: normal;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight";
  src: url("../fonts/Freight-BigBook.woff2") format("woff2"), url("../fonts/Freight-BigBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DietDidot";
  src: url("../fonts/DietDidotTitleW03-Italic.woff2") format("woff2"), url("../fonts/DietDidotTitleW03-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.dd {
  font-family: DietDidot;
}

.cc {
  font-family: Circe;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body._lock {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-top {
  min-height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: calc(10px + 74 * (100vw - 320px) / 1280);
}
@media (max-width: 375px) {
  .header-top__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .header-top__logo {
    padding: 0px 0px 15px 0px;
  }
}

.header-top__name {
  padding: 0px 0px 0px 18px;
  color: #D8D3E2;
  font-family: Circe;
  font-size: 25px;
  line-height: 10px;
}
@media (max-width: 767px) {
  .header-top__name {
    color: #f1eef8;
  }
}

.menu {
  position: absolute;
  z-index: 5;
  top: 130px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 992px) {
  .menu {
    top: 55px;
  }
}

.menu-test {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur 2px;
          backdrop-filter: blur 2px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu-test:hover {
  background: #4D465B;
}
.menu-test:hover .menu-text span {
  color: #fff;
}
.menu-test:hover .menu__icon span {
  background: #fff;
}
.menu-test._active .menu__icon span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}
.menu-test._active .menu__icon span:first-child {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}
.menu-test._active .menu__icon span:last-child {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}
.menu-test._active ~ .header-right__booking {
  visibility: hidden;
  opacity: 0;
}
.menu-test._active .menu-text span:first-child {
  display: none;
}
.menu-test._active .menu-text span:last-child {
  display: block;
}
@media (max-width: 992px) {
  .menu-test {
    height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 22px;
  color: #4D465B;
  text-align: center;
  font-family: Circe;
  padding: 0px 0px 20px 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu-text span:first-child {
  display: block;
}
.menu-text span:last-child {
  display: none;
}
@media (max-width: 992px) {
  .menu-text span {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    padding: 0 0 0 25px;
  }
}

.menu__icon {
  position: relative;
  z-index: 5;
  width: 30px;
  height: 18px;
  display: block;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu__icon span {
  left: 0;
  top: 8px;
  position: absolute;
  height: 1.5px;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #4D465B;
}
.menu__icon span:first-child {
  top: 0px;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0px;
}

.header-right__booking {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background: #4D465B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  visibility: visible;
  opacity: 1;
}
.header-right__booking:hover {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur 2px;
          backdrop-filter: blur 2px;
}
.header-right__booking:hover span {
  color: #4D465B;
}
.header-right__booking:hover svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.header-right__booking:hover svg path {
  stroke: #4D465B;
}
@media (max-width: 992px) {
  .header-right__booking {
    display: none;
  }
}

.header-booking__svg svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-right__booking_item {
  font-family: Circe;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  padding: 0 0 20px 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-right__buttons {
  position: fixed;
  width: 45%;
  height: 100%;
  right: -100%;
  top: 0;
  overflow: auto;
  background-color: rgba(77, 70, 91, 0.918);
  -webkit-transition: right 1s ease 0s;
  transition: right 1s ease 0s;
}
.header-right__buttons ul {
  display: none;
}
.header-right__buttons._active {
  right: 0;
}
.header-right__buttons._active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .header-right__buttons {
    width: 100%;
    background-color: rgb(77, 70, 91);
  }
}

.header-right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0px 0px 0px;
}

.header-right__item {
  padding: 0px 0px 50px 0px;
}
.header-right__item:last-child {
  padding: 0px 0px 0px 0px;
}

.header-right__link {
  color: #D8D3E2;
  font-size: 38px;
  line-height: 30px;
  -webkit-transition: font-size 0.5s ease 0s;
  transition: font-size 0.5s ease 0s;
}
.header-right__link:hover {
  font-size: 45px;
}

.mainblock {
  position: relative;
}

.main-swiper__slide {
  height: 100vh;
}

.main-swiper__slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media (max-width: 480px) {
  .main-swiper__slide img {
    -o-object-position: 20%;
       object-position: 20%;
  }
}

.main-swiper__content {
  padding: 0px 15px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 28%;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

.main-swiper__title {
  color: #FFF;
  font-size: calc(80px + 90 * (100vw - 320px) / 1280);
  line-height: calc(120% + 30 * (100vw - 320px) / 1280);
  text-transform: capitalize;
}

.main-swiper__subtitle {
  color: #FFF;
  font-family: Circe;
  font-size: calc(35px + 10 * (100vw - 320px) / 1280);
  font-weight: 300;
  line-height: 150%;
  text-transform: capitalize;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 4px;
  border-radius: 15%;
  background-color: transparent;
  border: 1px solid #c8c8c8;
}
.swiper-pagination-bullet-active {
  background-color: #a9afb3;
}