@import "nullstyle.scss";

// ======ШРИФТЫ======================================================================//
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.woff2') format('woff2'),
		url('../fonts/Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.woff2') format('woff2'),
		url('../fonts/Circe-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Freight';
	src: url('../fonts/Freight-BigBook.woff2') format('woff2'),
		url('../fonts/Freight-BigBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DietDidot';
	src: url('../fonts/DietDidotTitleW03-Italic.woff2') format('woff2'),
		url('../fonts/DietDidotTitleW03-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

.dd {
	font-family: DietDidot;
}

.cc {
	font-family: Circe;
}

//Контейнеры=============================
html {
	scroll-behavior: smooth;
}

.wrapper {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

body._lock {
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//!==HEADER==========================================================================//
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header-top {
	min-height: 184px;
	display: flex;
	align-items: center;
}

.header-top__body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: calc(10px + 74 * ((100vw - 320px) / (1600 - 320)));

	@media (max-width:375px) {
		flex-direction: column;
	}

	;
}

.header-top__logo {
	@media (max-width:375px) {
		padding: 0px 0px 15px 0px;
	}

	;
}

.header-top__img {}

.header-top__name {
	padding: 0px 0px 0px 18px;
	color: #D8D3E2;
	font-family: Circe;
	font-size: 25px;
	line-height: 10px;

	@media (max-width:767px) {
		color: #f1eef8;
	}

	;
}

//!!правое меню=================
.header-right {}

.menu {
	position: absolute;
	z-index: 5;
	top: 130px;
	right: 0px;
	display: flex;
	flex-direction: column;

	@media (max-width:992px) {
		top: 55px;
	}

	;
}

//*КНОПКА MENU===================
.menu-test {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur (2px);
	transition: all 0.5s ease 0s;

	&:hover {
		background: #4D465B;

		.menu-text {
			span {
				color: #fff;
			}
		}

		.menu__icon {
			span {
				background: #fff;
			}
		}
	}

	&._active {
		.menu__icon {
			span {
				transform: scale(0) translate(0px, -50%);

				&:first-child {
					top: 50%;
					transform: rotate(-45deg) translate(0px, -50%);
				}

				&:last-child {
					bottom: 50%;
					transform: rotate(45deg) translate(0px, 50%);
				}
			}
		}

		~.header-right__booking {
			visibility: hidden;
			opacity: 0;
		}

		.menu-text {
			span {
				&:first-child {
					display: none;
				}

				&:last-child {
					display: block;
				}
			}
		}
	}

	@media (max-width:992px) {
		height: 70px;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	;
}

.menu-text {
	span {
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
		font-size: 22px;
		color: #4D465B;
		text-align: center;
		font-family: Circe;
		padding: 0px 0px 20px 0px;
		transition: all 0.5s ease 0s;

		&:first-child {
			display: block;
		}

		&:last-child {
			display: none;
		}

		@media (max-width:992px) {
			writing-mode: horizontal-tb;
			transform: rotate(360deg);
			padding: 0 0 0 25px;
		}

		;
	}
}

.menu__icon {
	position: relative;
	z-index: 5;
	width: 30px;
	height: 18px;
	display: block;
	transition: all 0.5s ease 0s;

	//*делаем полосочки бургера
	span {
		left: 0;
		top: 8px;
		position: absolute;
		height: 1.5px;
		width: 100%;
		transition: all 0.5s ease 0s;
		background-color: #4D465B;

		&:first-child {
			top: 0px;
		}

		&:last-child {
			top: auto;
			bottom: 0px;
		}
	}
}

//*КНОПКА BOOKING=================================//

.header-right__booking {
	writing-mode: vertical-lr;
	transform: rotate(-180deg);
	background: #4D465B;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 0;
	transition: all 1s ease 0s;
	visibility: visible;
	opacity: 1;

	&:hover {
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur (2px);

		span {
			color: #4D465B;
		}

		svg {
			transform: rotate(-90deg);

			path {
				stroke: #4D465B;
			}
		}
	}

	@media (max-width:992px) {
		display: none;
	}

	;
}

.header-booking__svg {
	svg {
		transform: rotate(-180deg);
		transition: all 0.5s ease 0s;
	}
}

.header-right__booking_item {
	font-family: Circe;
	font-size: 22px;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	padding: 0 0 20px 0;
	transition: all 0.5s ease 0s;
}


//*====МЕНЮ-СПИСОК-АДАПТИВ=========================
.header-right__buttons {
	position: fixed;
	width: 45%;
	height: 100%;
	right: -100%;
	top: 0;
	overflow: auto;
	background-color: rgba(77, 70, 91, 0.918);
	transition: right 1s ease 0s;

	ul {
		display: none;
	}

	&._active {
		right: 0;

		ul {
			display: flex;
		}
	}

	@media (max-width:768px) {
		width: 100%;
		background-color: rgb(77, 70, 91);
	}
}


.header-right__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px 0px 0px 0px;
}

.header-right__item {
	padding: 0px 0px 50px 0px;

	&:last-child {
		padding: 0px 0px 0px 0px;
	}
}

.header-right__link {
	color: #D8D3E2;
	font-size: 38px;
	line-height: 30px;
	transition: font-size 0.5s ease 0s;

	&:hover {
		font-size: 45px;
	}
}


//!======MAINBLOCK======================================================================//

.main__menu {}

.mainblock {
	position: relative;
}


.swiper {}

.main-swiper {}

.swiper-wrapper {}

.main-swiper__wrapper {}


.swiper-slide {}

.main-swiper__slide {
	height: 100vh;
}

.main-swiper__slide img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: 100%;

	@media (max-width:480px) {
		object-position: 20%;
	}

	;
}

.main-swiper__content {
	padding: 0px 15px;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 28%;
	left: 0;
	z-index: 5;
	pointer-events: none;
}

.main-swiper__title {
	color: #FFF;
	font-size: calc(80px + 90 * ((100vw - 320px) / (1600 - 320)));
	line-height: calc(120% + 30 * ((100vw - 320px) / (1600 - 320)));
	;
	text-transform: capitalize;
}

.main-swiper__subtitle {
	color: #FFF;
	font-family: Circe;
	font-size: calc(35px + 10 * ((100vw - 320px) / (1600 - 320)));
	font-weight: 300;
	line-height: 150%;
	text-transform: capitalize;
}

.swiper-pagination {}

.swiper-pagination-bullet {
	width: 25px;
	height: 4px;
	border-radius: 15%;
	background-color: transparent;
	border: 1px solid #c8c8c8;

	&-active {
		background-color: #a9afb3;
	}
}

//!=======HISTORY=====================================================================//

.main__history {}

.history {
	background: #766D87;
}

.history__container {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0px 10px;

	@media (max-width:1440px) {
		padding: 0px 25px;
	}

	;
}

.history__body {
	display: flex;
	padding: 80px 0px 121px 0px;

	@media (max-width:1200px) {
		padding: 50px 0px 50px 0px;
	}

	;

	@media (max-width:760px) {
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	;

	@media (max-width:425px) {
		padding: 30px 0px 30px 0px;
	}

	;
}

.history__image {
	flex: 1 0 48.7%;

	@media (max-width:760px) {
		flex: 1 1 100%;
		display: block;
		padding: 0px 0px 80% 0px;
	}

	;
}

.history__content {
	flex: 1 1 auto;
	padding: 70px 0px 0px 58px;
	display: flex;
	flex-direction: column;

	@media (max-width:760px) {
		flex: 1 1 100%;
		padding: 50px 0px 30px 0px;
	}

	;
}

.history__title {
	color: #FFF;
	font-size: 120px;
	line-height: 100%;
	text-transform: capitalize;
	margin: 0px 0px 120px 0px;

	span {
		@extend .dd;
		display: flex;
		align-items: center;
		justify-content: left;

		&:before {
			content: '';
			width: 170px;
			height: 1px;
			background: white;

			@media (max-width:910px) {
				width: 120px;
			}

			;

			@media (max-width:400px) {
				width: 60px;
			}

			;
		}
	}

	@media (max-width:1440px) {
		font-size: 80px;
		margin: 0px 0px 80px 0px;
	}

	;

	@media (max-width:1200px) {
		font-size: 60px;
		margin: 0px 0px 50px 0px;
	}

	;

	@media (max-width:990px) {
		font-size: 45px;
	}

	;

	@media (max-width:760px) {
		font-size: 55px;
	}

	@media (max-width:350px) {
		font-size: 50px;
	}

	;
}

.history__text {
	padding: 0px 0px 0px 75px;
	color: #FFF;
	font-family: Circe;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;

	p {
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}

	@media (max-width:1440px) {
		padding: 0px 0px 0px 0px;
		font-size: 18px;
	}

	;

	@media (max-width:990px) {
		font-size: 15px;
	}

	;

	@media (max-width:760px) {
		font-size: 18px;
	}

	;
}

.history__button {
	margin: 52px 0px 0px 75px;
	color: #4D465B;
	text-align: center;
	font-family: Circe;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75px;
	padding: 5px 90px;
	background: #D8D3E2;
	align-self: start;
	transition: all 0.3s ease 0s;

	&:hover {
		color: #FFF;
		background: #4D465B;
		border: 1px solid rgba(129, 129, 129, 0.40);
	}

	@media (max-width:1440px) {
		margin: 52px 0px 0px 0px;
	}

	@media (max-width:990px) {
		padding: 5px 60px;
		min-height: 65px;
	}

	;

	@media (max-width:910px) {
		margin: 30px 0px 0px 0px;
	}

	;

	@media (max-width:760px) {
		align-self: center;
	}

	;
}

//!=====HIKES=======================================================================//
.hikes__container {
	position: relative;
	padding-top: calc(58px + 200 * ((100vw - 320px) / (1600 - 320)));
	padding-bottom: calc(60px + 43 * ((100vw - 320px) / (1600 - 320)));
	padding-right: calc(10px + 331 * ((100vw - 320px) / (1600 - 320)));
	padding-left: calc(10px + 190 * ((100vw - 320px) / (1600 - 320)));
}

.hikes__body {
	position: relative;
	z-index: 2;
	margin: 0 auto;

	&::before {
		content: '';
		position: absolute;
		width: 2px;
		height: 120%;
		top: -10%;
		left: -5%;
		background: #4D465B;

		@media (max-width:540px) {
			display: none;
		}

		;
	}
}

.hikes__title {
	color: #4D465B;
	font-size: 110px;
	font-size: calc(40px + 70 * ((100vw - 320px) / (1600 - 320)));
	line-height: 109%;
	margin-bottom: calc(30px + 30 * ((100vw - 320px) / (1600 - 320)));
	;
}

.hikes__text {
	color: #4D465B;
	font-family: Circe;
	font-size: calc(16px + 4 * ((100vw - 320px) / (1600 - 320)));
	line-height: 30px;
}

.hikes__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


//!====VIDEO========================================================================//
.main__video {}

.video {
	position: relative;
}

.video__body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: calc(10px + 30 * (100vw / 1600));
	flex-wrap: wrap;

}

.video__title {
	pointer-events: none;
	position: relative;
	z-index: 2;
	max-width: 683px;
	align-self: flex-end;
	color: #FFF;
	font-size: calc(20px + 70 * ((100vw - 320px) / (1600 - 320)));
	line-height: 100%;
}

.video__text {
	pointer-events: none;
	position: relative;
	z-index: 2;
	max-width: 457px;
	color: #FFF;
	font-family: Circe;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 50px;

	@media (max-width:766px) {
		display: none;
	}
}

.video__cont {
	cursor: pointer;
	position: relative;
	padding: 0px 0px 59% 0px;

	video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//!===ROUTES=========================================================================//
.main__routes {}

.routes {}

.routes__container {
	padding-top: calc(50px + 90 * ((100vw - 320px) / (1600 - 320)));
}

.routes__title {
	position: relative;

	color: #4D465B;
	text-align: center;
	line-height: 163%;
	font-size: calc(40px + 70 * ((100vw - 320px) / (1600 - 320)));

	&::after {
		content: '';
		display: block;
		height: 2px;
		width: 300px;
		background-color: #4D465B;
		position: absolute;
		bottom: 1%;
		left: 50%;
		transform: translateX(-50%);

		@media (max-width:767px) {
			height: 1px;
			width: 200px;
		}

		;
	}
}

.swiper {}

.routes__slider {
	padding: 110px 0px 0px 0px;
	position: relative;
	background: white;

	@media (max-width:992px) {
		padding: 70px 0 0px 0;
	}

	@media (max-width:479px) {
		padding: 50px 0px 0px 0px;
	}

	;
}

.swiper-wrapper {}

.routes__wrapper {
	position: relative;
}

.swiper-slide {}

.swiper-slide-active {
	@media (min-width:480px) {
		transform: scale(1.3);
		transition: transform 0.4s ease-in-out;
		z-index: 10;
	}
}

.routes__slide {}

.routes__item {
	display: block;
	padding: 0px 0px 103.5% 0px;
	position: relative;

	span {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		text-align: center;
		text-align: center;
		color: #FFF;
		font-size: calc(28px + 7 * ((100vw - 320px) / (1600 - 320)));
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
		}
	}
}

.routes__image {
	border: 2px solid #FFF;
}

//*навигация swiper

.swiper-routes-navigation {
	margin: 110px 0px 0px 0px;

	@media (max-width:992px) {
		margin: 80px 0px 0px 0px;
	}

	;

	@media (max-width:610px) {
		margin: 60px 0px 0px 0px;
	}

	;

	@media (max-width:479px) {
		margin: 20px 0px 0px 0px;
	}

	;
}

.custom-ar {
	display: flex;
	flex-direction: column;
}

.swiper-routes-number {}

.custom-ar-number {
	display: flex;
	justify-content: center;
	align-items: end;
	color: #80798E;
	text-transform: uppercase;
	font-size: 60px;

	@media (max-width:992px) {
		font-size: 35px;
	}
}


.swiper-pagination {
	&-total {
		font-size: 35px;
	}
}

.swiper-routes-arrows {}

.custom-ar-arrows {
	display: none;

	@media (min-width:993px) {
		margin-top: -65px;
		padding: 20px 0;
		display: flex;
		justify-content: space-evenly;

		img {
			border: 0.4px solid #4f495b;
			padding: 15px 20px;
			cursor: pointer;
			transition: all 0.3s ease 0s;

			&:hover {
				scale: 1.2;
			}
		}
	}
}

.custom-ar-right {}

.custom-ar-left {}


//!==OPTION==========================================================================//
.main__options {}

.options {}

.options__body {
	padding-top: calc(0px + 120 * ((100vw - 320px) / (1600 - 320)));
}

.options__row {}

.row-option {}

.row-option__body {
	display: flex;

	@media (max-width:767px) {
		flex-direction: column-reverse;
	}

	;
}

.row-option__body-rev {
	flex-direction: row-reverse;

	@media (max-width:767px) {
		flex-direction: column-reverse;

	}

	;
}

.row-option__image {
	flex: 0 1 50%;

	@media (max-width:767px) {
		flex: 0 1 100%;
		padding: 0px 0px 60% 0px;
	}

	;
}


.row-option__content {
	padding: 150px 15px 215px 15px;
	flex: 0 1 50%;
	display: flex;
	justify-content: center;

	@media (max-width:1024px) {
		padding: 50px 15px;
	}

	;

	@media (max-width:767px) {
		&:not(:last-child) {
			padding: 0 15px;
		}
	}

	;
}

.content-block {}

.row-option__container {
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	>*:not(:last-child) {
		margin: 0px 0px 40px 0px;
	}

	@media (max-width:767px) {
		max-width: 100%;
	}
}

.row-option__title {
	color: #4D465B;
}

.content-block__title {
	font-size: calc(42px + 48 * ((100vw - 320px) / (1600 - 320)));
	;
	line-height: 110%;
}

.row-option__text {
	color: #4D465B;
}

.content-block__text {
	font-family: Circe;
	font-size: calc(18px + 2 * ((100vw - 320px) / (1600 - 320)));
	line-height: 150%;
}

.row-option__button {
	color: #4D465B;
	text-align: center;
	font-family: Circe;
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid #4D465B;
	padding: 0 97px;
	transition: all 0.2s ease-out 0s;

	span {
		background: url(/img/icons/arrow.svg) right no-repeat;
		padding: 0px 70px 0px 0px;
	}

	&:hover {
		border: 1px solid rgba(129, 129, 129, 0.40);
	}

	@media (max-width:768px) {
		padding: 0px 50px;
	}
}

.content-block__btn {
	display: inline-flex;
}

.row-option__btn {
	@media (max-width:767px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.content-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	background: transparent;

	@media (max-width:768px) {
		height: 60px;
	}

	;
}

//!===ADVENTURE=========================================================================//
.main__adventure {}

.adventure {}

.adventure__body {
	position: relative;
}

.adventure__content {
	padding-right: 93px;
	padding-top: calc(70px + 264 * ((100vw - 320px) / (1600 - 320)));
	padding-bottom: 106px;
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: flex-end;

	@media (max-width:767px) {
		justify-content: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	;
}


.adventure__container {
	max-width: 574px;
	display: flex;
	flex-direction: column;

	@media (max-width:479px) {
		align-items: center;
		text-align: center;
	}

	;

}

.adventure__title {
	margin: 0px 0px 20px 0px;
	color: #FFF;

	@media (max-width:992px) {
		color: #645b75;
	}

	;
}


.adventure__text {
	margin: 0px 0px 35px 0px;
	color: #FFF;

	@media (max-width:479px) {
		color: #645b75;
	}
}


.adventure__btn {
	display: inline-flex;
}


.adventure__button {
	border: 1px solid #FFF;
	box-shadow: 0 0.5px 2px #d1ccdb;
	position: relative;
	top: 0;
	transition: all 0.2s ease-out 0s;

	span {
		scale: 1.1;
		padding: 5px 75px;
		background: url(/img/icons/arrow-w.svg) center no-repeat;
	}

	&:hover {
		box-shadow: 0 1px 1px #d1ccdb;
		scale: 1.1;
	}
}

.adventure__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

//!======BOOKING======================================================================//
.main__booking {}

.booking {}

.booking__container {
	padding-top: 60px;
	padding-right: calc(10px + 92 * ((100vw - 320px) / (1600 - 320)));
	padding-left: calc(10px + 92 * ((100vw - 320px) / (1600 - 320)));
	margin: 0px auto;
}

.booking__title {
	position: relative;
	margin: 0px 0px 0px 126px;
	color: #4D465B;
	font-size: calc(40px + 70 * ((100vw - 320px) / (1600 - 320)));
	line-height: 109%;
	text-transform: capitalize;

	span {
		@extend .dd;
		font-style: italic;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: -7%;
		display: block;
		width: 2px;
		background: #4D465B;
		height: 110%;
	}

	@media (max-width:768px) {
		margin-left: 20px;

		&::after {
			width: 1px;
			left: -2%;
		}
	}

	;
}

.booking__content {}

.content-booking {
	margin-top: 70px;

	@media (max-width:768px) {
		margin-top: 40px;
	}

	;
}

.content-booking__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -36px;

	@media (max-width:1440px) {
		margin: 0 -15px;
	}

	;
}


.content-booking__item {
	flex: 0 1 33.333%;
	padding: 0 36px;

	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3) {
		margin-bottom: 72px;
	}

	&:hover {
		text-decoration: underline;
		color: #FFF;
	}

	@media (max-width:1440px) {
		padding: 0 15px;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-bottom: 30px;
		}
	}

	;

	@media (max-width:950px) {
		flex: 0 1 50%;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			margin-bottom: 30px;
		}

		;
	}

	@media (max-width:560px) {
		flex: 0 1 100%;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	;
}


.content-booking__top {}

.top-content {}

.top-content__body {
	position: relative;
	display: flex;
	padding: 0 0 100% 0;

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		background: rgba(172, 169, 169, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (max-width:1440px) {
		padding: 0 0 80% 0;
	}

	;

	@media (max-width:560px) {
		padding: 0 0 70% 0;
	}
}

.top-content__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.top-content__price {
	position: absolute;
	bottom: 20px;
	right: 0px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: rgba(0, 0, 0, 0.40);

}

.top-content__number {
	font-size: 50px;
	color: #FFFF;
	margin: 0px 0px 10px 0px;

	@media (max-width:1220px) {
		font-size: 35px;
	}

	;

	@media (max-width:560px) {
		font-size: 50px;
	}

	;

	span {
		font-size: 25px;
		margin: 0px 0px 0px 5px;
	}
}

.top-content__average {
	color: #FFF;
	font-family: Circe;
	font-size: 13px;
	text-transform: capitalize;
}

.content-booking__label {}

.content-booking__link {
	color: #FFF;
	font-size: 40px;
	text-transform: capitalize;
	background: #80798E;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88px;
	padding: 5px;
	text-align: center;

	@media (max-width:1220px) {
		font-size: 35px;
	}

	;

	@media (max-width:768px) {
		height: 78px;
	}

	;

	@media (max-width:560px) {
		font-size: 40px;
	}

	;
}

.content-booking__btn {
	margin: 38px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-booking__button {
	font-family: Circe;
	font-size: 20px;
	line-height: 180px;
	text-transform: capitalize;
	border: 1px solid #4D465B;
	color: #4D465B;
	padding: 5px 130px;
	transition: all 0.2s ease-out 0s;

	span {
		background: url(/img/icons/Group\ 37.svg) right no-repeat;
		padding: 0px 60px 0px 0px;
	}

	&:hover {
		border: 1px solid rgba(129, 129, 129, 0.40);
	}

	@media (max-width:768px) {
		padding: 5px 70px;
	}

	;
}

//!====PLAN========================================================================//
.main__plan {}

.plan {
	position: relative;
	margin-top: 103px;

	@media (max-width:900px) {
		margin-top: 70px;
	}

	;

	@media (max-width:425px) {
		margin-top: 50px;
	}

	;
}

.plan__body {
	padding: 163px 10px 273px 10px;
	position: relative;
	z-index: 5;

	h2,
	h3,
	h4 {
		color: #FFF;
		font-family: Circe;
		font-size: 20px;
	}

	@media (max-width:900px) {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	;
}

.plan__title {
	margin-bottom: 30px;
	text-align: center;
	color: #FFF;
	font-size: calc(40px + 70 * ((100vw - 320px) / (1600 - 320)));
	line-height: 181%;

	@media (max-width:437px) {
		margin-bottom: 10px;
		line-height: 150%;
	}

	;
}


.plan__form {}

.form-plan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-plan__row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px -13px 26px -13px;

	@media (max-width:900px) {
		flex-direction: column;
	}

	;
}

.form-plan__column {
	display: flex;
	flex-direction: column;
	padding: 0 13px;

	@media (max-width:900px) {
		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}

	;
}

.form-plan__header {
	margin-bottom: 10px;
}

.form {
	appearance: none;
	padding: 5px 15px;
	background: transparent;
	color: #FFF;
	font-family: Circe;
	font-size: 25px;
	border: 2px solid #FFF;
	height: 107px;
	width: 416px;
	transition: all 0.3s ease 0s;

	&:hover {
		background: rgba(172, 169, 169, 0.4);
		border: 2px solid #e8e3f3;
		cursor: pointer;
	}

	@media (max-width:470px) {
		max-width: 350px;
		height: 75px;
	}

	;

	@media (max-width:425px) {
		max-width: 300px;
	}

	;
}


.calendar {}

.list {}

.level {}

.form-plan__button {
	display: flex;
	align-self: flex-end;
}

.form_btn {
	text-align: center;
	color: #FFF;
	font-family: Circe;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	background: #ED7643;
	height: 107px;
	width: 416px;
	padding: 5px 10px;
	transition: all 0.3s ease 0s;

	&:hover {
		color: #ED7643;
		background-color: transparent;
		border: 1px solid #ffff;
	}

	@media (max-width:470px) {
		max-width: 350px;
		height: 75px;
	}

	@media (max-width:425px) {
		max-width: 300px;
	}

	;
}

.plan__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&::after {
		content: '';
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(77, 70, 91, 0.54);
	}
}

//!============================================================================//
